@()(implicit request: RequestHeader)

@main("Welcome to Play") {
    <h1>Welcome to Play!</h1>
    @helper.form(action = helper.CSRF(routes.IOController.upload()), 'enctype -> "multipart/form-data") {
        <input type="file" name="picture">
        name: <input type="text" name="name">
        <p>
            <input type="submit">
        </p>

    }
}
